body {
  background-image: url(images/bg.jpg);
  font:300 13px/23px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align:justify;
  margin: 0;
  padding: 0;
}
#wrapper {
  position: relative;
  width: 1000px;
  margin: 20px auto;
}
#welcome {
  position: absolute;
  display: inline;
  right: 10px;
  margin: 0;
  padding: 4px 8px;
  color: #444;
  font-size: small;
  font-weight: bold;
  border: solid 1px #999;
  border-top: none;
  border-bottom: none;  
}
#welcome a {
  color: #cc0000;
  text-decoration: none;
}
.logos {
  width: 130px;
}
#logo {
  position: absolute;
  left: -50px;
  top: 0px;
  z-index:-1;
  animation:myfirst 5s infinite;
  animation-direction:alternate;
  /* Firefox */
  -moz-animation:myfirst 3s infinite;
  -moz-animation-direction:alternate;
  /* Safari and Chrome */
  -webkit-animation:myfirst 5s infinite;
  -webkit-animation-direction:alternate;
}

@keyframes myfirst
{
  0%    {opacity:0; left:550px; top:0px;}
  100%  {opacity:1; left:-50px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
  0%    {opacity:0; left:550px; top:0px;}
  100%  {opacity:1; left:-50px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  0%    {opacity:0; left:550px; top:0px;}
  100%  {opacity:1; left:-50px; top:0px;}
}
#header {
  font: 40px century gothic;
  text-transform:uppercase;
  text-decoration:none;
  color:#4f4f4f;
  letter-spacing: 0.01px;
  text-shadow: 0 2px 2px #bbb;
  font-weight: bold;
  height: 100px;
  color: #444;
  padding-left: 90px;
  line-height: 100px;
}
#footer {
  clear: left;
  font-size: small;
  text-align: right;
  padding: 4px;
  font-weight: bold;
  color: #666;
}
#menu, #monitor, #sponsor, #main {
  float:left;
}
#menu {
  clear: both;
  list-style: none;
  margin: 0 10px 0 20px;
  padding: 0;
}
#menu li {
  display: block;
  float: left;
  margin-right: 0px;
  }
#menu li a {
  font: 13px century gothic;
  text-transform:uppercase;
  text-decoration:none;
  color:#4f4f4f;
  letter-spacing: 0.01px;
  text-shadow: 0 1px 1px #bbb;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 4px;
  margin: 20px 0 20px 0;
  width: 100px;
  border: solid 1px #999;
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-radius: 0px 0px 0 0;
  transition:width 0.5s;
  -moz-transition:width 0.5s;
  -webkit-transition:width 0.5s;
  -o-transition:width 0.5s;
  }
#menu li a:hover {
  width: 140px;
  color:#fff;
  background-color: #cc0000;
  text-shadow: 0 1px 1px #000;
  }
#monitor {
  clear: left;
  width: 3%;
  background: #cc0000;
  color: #fff;
  font-size: 30px;
  text-transform:uppercase;
  text-align:center;
  text-decoration:blink;
  line-height:110%;
  word-wrap:break-word;
  text-shadow: 0 2px 2px #444;
  font-weight: bold;
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);
  border: solid 4px #efefef;
  margin: 2px 10px;
  padding: 10px;
  min-height: 100px;
}
#main {
  background: rgba(255,255,255,1);
  border: solid 4px #dfdfdf;
  margin: 0 10px;
  padding: 20px;
  min-height: 100px;
  width: 62%;
}
#panel {
  display: none;
}
#sponsor {
  width: 18%;
  background: rgba(255,255,255,1);
  /*box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.2);*/
  border: solid 4px #dfdfdf;
  margin: 0 10px;
  padding: 10px;
  min-height: 100px;
}
#content fieldset.fields ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#content fieldset.fields ul li {
  clear: left;
  margin: 0;
  padding-bottom: 5px;
}
#content fieldset.fields ul li label {
  display: block;
  width: 100px;
  float: left;
}
#content fieldset.buttons {
  border: none;
  text-align: center;
}

div.daftar {
  color: #444;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: solid 1px #000;
}

table.daftar {
  width: 100%;
  border: solid 1px #cc0000;
}
table.daftar caption {
  font-weight: bold;
  margin-bottom: 10px;
}
table.daftar td, th {
  padding: 2px 4px;
}
table.daftar thead tr {
  color: white;
  background-color: #cc0000;
}
table.daftar tbody tr {
  background-color: #eee;
}
table.daftar tfoot {
  font-size: small;
}
table.daftar tfoot tr td {
  border-top: solid 1px #cc0000;
}
legend {
  font-weight: bold;
  color: #444;
}
caption {
  color: #444;
}
.news {
  font: 35px century gothic;
  text-transform:uppercase;
  text-decoration:none;
  color:#4f4f4f;
  letter-spacing: 0.01px;
  text-shadow: 0 2px 2px #bbb;
  font-weight: bold;
  text-align: left;
  padding: 10px;
  border: solid 1px #999;
  border-top: none;
  border-right: none;
  border-left: none;
}
.t {
  font-size: 11px;
  font-weight: bold;
  color: #999;
}
div.berita {
  margin: 10px 0 10px 0;
  border: solid 1px #999;
  border-right: none;
  border-left: none;
  text-decoration:blink;
  text-shadow: 0 1px 1px #fff;
  font-size: 11px;
  font-weight: bold;
  color: #900;
  clear: both ;
}
.komentar {
  list-style: none;
  padding: 40px 0px 20px 20px;
}
says{
  color: #666;
}
.saysname {
  color: #c00;
  font-weight: bold;
  text-transform:capitalize;
}
c {
  font-size: 17px;
}
#special {
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.7);
}
.hidden {
  display:none;
}
.more { 
  float: right; 
  text-align:center; 
  margin: 0 5px -21px 0; ;
  display: inline;
  z-index: 2;
}
.more a{
	color:#444;
	text-decoration: none;
	width: 50px;
	background-color: #fafafa;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-transform: uppercase;
    font-size: 8px;
    padding: 5px;
    height: 13px;
    border: 1px solid #999;
    box-shadow:0px 3px 0px #ddd;
}
.more a:active, div.inisial a:active{
    opacity:0;
}
.more a:hover{
	color:#fff;
	text-decoration: underline;
	background-color: #cc0000;
	border: 1px solid #8c1209;
    box-shadow:0px 3px 0px #8c1209;
}
div.galeriberita h1.news{
  font: 20px century gothic;
  text-transform:uppercase;
  text-decoration:none;
  color:#4f4f4f;
  letter-spacing: 0.01px;
  text-shadow: 0 2px 2px #bbb;
  font-weight: bold;
  text-align: left
}
.galeriberita ul{
  list-style-type:none;
  margin-left: -20px;
}
.galeriberita{
  color: #999;
  background-image: url(images/bg.jpg);
  margin: 10px -60px 10px 10px;
  padding: 10px 20px 10px 0;
  min-height: 100px;
  width: 30%;
  position: relative;
  display: inline;
  float: left;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 4px 1px #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
div.galeriberita:active{
  opacity:0;
}
div.galeriberita:hover{
  z-index:1;
  background: #fff;
  box-shadow: 0px 0px 4px 1px #999;
  display:block;
  color: #666
}
div.galeriberita a{
   text-decoration: none;
   color: #999;
}
div.galeriberita a{
   display:block;
   color: #444;
}
.liriklagu {
  width: 100%;
  text-align: center;
}
div.inisial a{
  color: #fff;
  text-shadow: 0 2px 2px #000;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 12px;
  width: 20px;
  height: 20px;
  float: left;
  display: inline;
  background-color: #00a800;
  margin: 2px;
  padding: 1px 1px 1px 1px;
  border:1px solid #00b800;
  border-radius:6px;
  box-shadow: 0 2px 2px #999;
}
#hide a{
  visibility:hidden;
}